.header {
  padding: 20px 20px 8px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  flex-flow: row nowrap;
}
.header .header__title {
  color: rgba(18, 18, 18, 0.5);
  font-size: 20px;
  font-weight: 600;
}
.header li {
  display: inline-block;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  color: #4074D8;
}
.header li.active {
  color: #fff;
  background-color: #4074D8;
  border-radius: 12px;
}