body {
  padding-top: 100px;
}

.header {
  z-index: 100;
  height: 100px;
  background-color: #E4DDE7;
  padding: 20px 20px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__list {
  display: flex;
  flex-flow: row nowrap;
}
.header .header__title {
  color: rgba(18, 18, 18, 0.5);
  font-size: 20px;
  font-weight: 600;
}
.header li {
  display: inline-block;
  padding: 6px 12px;
  font-weight: 600;
  font-size: 16px;
  color: #4074D8;
}
.header li.active {
  color: #fff;
  background-color: #4074D8;
  border-radius: 12px;
}
.header__search {
  width: 60%;
  height: 35px;
  padding-top: 2px;
  padding-right: 6px;
  background-color: #fff;
  border-radius: 14px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: text;
  display: none;
}
.header__image2 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
@media (min-width: 576px) {
  .header .header__search {
    display: flex;
    flex-flow: row nowrap;
  }
  .header .header__image2 {
    display: none;
  }
}

.slider {
  padding: 16px 30px 28px;
  /* Custom styles for dots */
  /* Custom styles for dot */
  /* Custom styles for active dot */
}
.slider__image {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 50%;
}
.slider__block {
  padding-bottom: 150px;
  position: relative;
  display: flex !important;
  flex-flow: row nowrap;
  justify-content: center;
}
.slider__block img {
  width: 100%;
}
.slider__description {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 16px;
  background-color: #EFEBF1;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 0;
}
.slider__progress-text {
  text-align: center;
  font-size: 10px;
  color: #4074D8;
}
.slider__subimage {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 64px;
}
.slider__col {
  padding-left: 16px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.slider__title {
  max-width: 100%;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
}
.slider .progress-bar-container {
  width: 100%;
  margin: 0 auto;
  background-color: rgba(64, 117, 216, 0.16);
  border-radius: 25px;
  overflow: hidden;
}
.slider .progress-bar {
  height: 5px;
  background-color: #4074D8;
  width: 0%;
  transition: width 0.3s ease-in-out;
}
.slider .custom-dots {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  bottom: 150px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}
.slider .custom-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #ccc;
  /* Default background color */
}
.slider .custom-dot.slick-active {
  background-color: #333;
  /* Active background color */
}

.recent, .arrivals, .bestsellers {
  padding-bottom: 16px;
}
.recent__subtitle, .arrivals__subtitle, .bestsellers__subtitle {
  font-size: 12px;
  color: #121212;
  font-weight: 400;
  margin: 0;
  margin-bottom: 8px;
}
.recent__title, .arrivals__title, .bestsellers__title {
  text-overflow: ellipsis;
  max-width: 236px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  height: 16px;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
}
.recent__head, .arrivals__head, .bestsellers__head {
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.recent__more, .arrivals__more, .bestsellers__more {
  font-size: 14px;
  color: #4074D8;
  font-weight: 600;
  cursor: pointer;
}
.recent__more:hover, .arrivals__more:hover, .bestsellers__more:hover {
  text-decoration: underline;
}
.recent__items, .arrivals__items, .bestsellers__items {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  /* Ensures smooth scrolling on iOS */
  scrollbar-width: none;
  /* Firefox */
}
.recent__items::webkit-scrollbar, .arrivals__items::webkit-scrollbar, .bestsellers__items::webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}
.recent__elem, .arrivals__elem, .bestsellers__elem {
  cursor: pointer;
  max-width: 120px;
  text-align: center;
  flex: 0 0 auto;
  margin-right: 10px;
  /* Space between items */
}
.recent__name, .arrivals__name, .bestsellers__name {
  font-weight: 600;
  font-size: 15px;
}
.recent__price, .arrivals__price, .bestsellers__price {
  font-weight: 600;
  color: #4074D8;
}
.recent__info, .arrivals__info, .bestsellers__info {
  font-size: 14px;
  justify-content: space-between;
}